body {
    color:;
    background: rgb(47, 2, 255);
    margin: 9px;
    font-family: " Actions Bot", sans-serif;
    margin-bottom: 40px;
}

header {
    border-bottom: solid 2px rgb(52, 298, 108);
    padding: 22px;
    font-size: 10px;
    color: rgb(113, 42, 228);
}

    .chamada {
    background: rgb(213, 156, 180);
    padding-bottom: 70px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 9%;
}

h1 {
    font-size: 60px;
}

 p {
font-size: 10px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 30px;
    padding-right: 40px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.9;
    height: 201px;
}
   
.categoria-videos img:hover {
    opacity: 3.0;
    border: 4px solid palegoldenrod;
}

.categoria h2 {
    color: greenyellow;
}